@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.input-style {
		@apply my-2 mx-2 w-[98%] py-2 px-4 rounded-md text-sm md:text-base border-2 border-black outline-none text-black bg-violet-300;
	}
}

:root {
	--bg-primary: #1a1a1a;
	--text-heading: text-5xl;
	--bg-purple: #220a3a;
	--p-section-y: 10vh;
	--bg-purple2: #371a46;
	--bg-purple3: #793b9b;
	--bg-purple4: #3c0d4c;
	--white-1: #f8fafc;
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
}

.project-card,
/* .connect-btn, */
.connect-btn::before,
.submit {
	background: linear-gradient(
		90.21deg,
		rgba(170, 54, 124, 0.5) -5.91%,
		rgba(74, 47, 189, 0.5) 111.58%
	);
}

/* connect btn animation */
/* for gradient background */

.connect-btn::before{
	content: "";
	position: absolute;
	inset: 0;
	background-color: var(--bg-primary);
	transition: 300ms ease transform;
	transform: scaleX(0);
	transform-origin: right;
	z-index: -1;
}
.connect-btn:hover.connect-btn::before{
	transform-origin: left;
	transform: scaleX(1)!important;
}

.home::before {
	background: url('./assets/7756629.jpg') black center center no-repeat;
	background-size: cover;
	content: '';
	position: absolute;
	inset: 0;
	display: block;
	z-index: -1;
	filter: brightness(85%);
}

.cardAnchor:hover {
	transition: 0.3s ease-out transform;
	transform: scale(0.95);
}

.text-gradient {
	background: linear-gradient(
		90.21deg,
		rgba(170, 54, 124, 0.5) -5.91%,
		rgba(74, 47, 189, 0.5) 111.58%
	);
	background-clip: text;
	color: transparent;
}

::placeholder {
	color: #232325c4 !important;
}

.submit {
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
}
.submit:hover {
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.604);
}

/* oh how i miss scss */
.social {
	transform: scale(0.85);
}
.social-svg-icon,.social-svg-mask{
	transition-duration: 200ms!important;
}
.social:hover .social-svg-icon {
	fill: var(--bg-purple) !important;
}
.social:hover .social-svg-mask {
	fill: #f8fafc !important;
}

.blur-nav{
    background-color: #232325bf!important;
    backdrop-filter: blur(5px)!important;
}